/node_modules
/public/hot
/public/storage
public/uploads/nilai_seminar_tesis_1/*.pdf
public/uploads/nilai_seminar_tesis_2/*.pdf
public/uploads/nilai_sidang_tesis/*.pdf
public/uploads/profile/*.jpg
public/uploads/profile/*.jpeg
public/uploads/profile/*.png
public/uploads/profile/*.gif
public/uploads/profile/*.bmp
public/uploads/sk_jabatan_dosen/*.pdf
public/uploads/sk_pangkat_admin/*.pdf
public/uploads/sk_pangkat_dosen/*.pdf
public/uploads/sop/*.pdf
public/uploads/syarat_seminar_sidang_s2/*.pdf
public/uploads/syarat_seminar_ta_dua_s2/*.pdf
public/uploads/syarat_seminar_ta_satu_s2/*.pdf
public/uploads/transkrip/*.pdf

/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea


/.vscode
